{
    "presets": [
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ],
        "minify",
        "preact-cli/babel"
    ]
}
